*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
 .container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #ffccdc, #ffffff);/* , #4e085f); */
    padding: 10px;
    
}

.todo-app{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
    box-shadow: 0 0 3px #634e54;
}
.todo-app h2{
    color: #634e54;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ccf0ff;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
    color: #634e54;
}
input::placeholder{
    color: #634e54;
  }
input{
    flex: 1;
    border: none;
    outline:none;
    background: transparent;
    padding: 10px;
    font-size: 17px;
    color:#59474c;
}


button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #80666e;
    color: #ffffff;
    font-size: 17px;
    cursor: pointer;
    border-radius: 40px;
}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    color: #634e54;
}
ul li::before{
    content: '';
    position:absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 7px;
    left: 8px;
}
ul li.checked{
    color: #634e54;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(images/checked.png);
}
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 30px;
    height: 30px;
    font-size: 22px;
    color: #80666e;
    text-align: center;
    border-radius: 25%;
}
ul li span:hover{
    background: #ccf0ff;
}